*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
font-family: 'Roboto Mono', monospace;

font-family: 'Roboto Slab', serif; 
*/

:root {
  /* Fonts Family*/
  --ff-primary: "Roboto Condensed", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  /* Font weights */
  --fw-reg: 400;
  --fw-bold: 900;
  --fw-light: 300;

  /* Font sizes */
  --fs-h1: 4rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-h5: 1.1rem;

  /* Background colors */
  --clr-background: #2c343c;
  --clr-b-primary: #65707b;
  --clr-b-secondary: #5f7075;

  /* text colors */
  --clr-t-primary: #aab2bb;
  --clr-t-secondary: #65707b;
  --clr-t-tertiary: #ffffff;
}

@media (min-width: 1080px) {
  :root {
    /* Font sizes */
    --fs-h1: 6rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
  }
}

/* General Styles */

body {
  background-color: var(--clr-background);
  color: var(--clr-t-primary);
  font-family: var(--ff-secondary);
  line-height: 1.6;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

/* INTRO SECTION */

.nav {
  background: var(--clr-b-primary);
}

.nav__link {
  color: var(--clr-background);
  font-family: var(--ff-primary);
  text-decoration: none;
  font-size: var(--fs-h);
}

.nav__item {
  list-style-type: none;
}

.section__subtitle--intro {
  font-family: "Roboto Mono", monospace;
  font-size: var(--fs-h3);
  color: var(--clr-t-secondary);
}

/* SKILLS SECTION */

.section__title--skills {
  text-align: center;
}

.skill {
  background: var(--clr-b-primary);
  color: var(--clr-t-tertiary);
  text-align: center;
}

.skill__title {
  font-weight: var(--fw-light);
  font-family: var(--ff-secondary);
}

.skill__text {
  font-weight: var(--fw-light);
  font-family: var(--ff-secondary);
}

/* PROJECTS SECTIONS */

.project {
  background: var(--clr-b-primary);
  margin-bottom: 40px;
}
.section__title--projects {
  text-align: center;
}

.project__title {
  font-family: "Roboto Slab", serif;
  color: var(--clr-t-tertiary);
}

.project__skills {
  color: var(--clr-t-primary);
  font-family: var(--ff-primary);
}

.project__description-title {
  color: #000000;
}
.project__description {
  color: #000000;
}

.project__link {
  background: #788386;
}

.project__link--text {
  font-family: var(--ff-primary);
  color: var(--clr-background);
  font-size: var(--fs-h5);
  text-decoration: none;
}

/* FOOTER SECTION */

footer {
  background: var(--clr-b-secondary);
}

/* 
----------------------------------------------------------
                        LAYOUT
----------------------------------------------------------
*/

section {
  padding: 2rem;
}

/* INTRO SECTION */

.my-intro {
  padding-top: 12rem;
  padding-left: 6rem;
}

.section__title--intro {
  margin: 0;
}

.section__subtitle--intro {
  margin: 0;
}

/* SKILLS SECTIONS */

.section__title--skills {
  margin: 4rem;
}

.skill {
  margin: 3rem auto 5rem;
  padding: 1rem 1rem 4rem;
  max-width: 350px;
}

@media (min-width: 800px) {
  .skills {
    display: flex;
  }

  .skill {
    padding: 1rem 1rem 3rem;
    margin: 3rem auto 5rem;
    padding: 1rem 1rem 4rem;
    max-width: 350px;
  }

  .skill + .skill {
    margin-left: 3rem;
  }
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project__video {
  max-width: 800px;
  margin: 0 auto;
}

video {
  max-width: 100%;
}

.project__links {
  display: flex;
}

.project__link {
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 0.25rem;
}

@media (min-width: 800px) {
  .project {
    margin: 4rem;
    max-width: 1920px;
  }
  .project__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .project__video {
    max-width: 800px;
  }
  .project__text {
    max-width: 800px;
  }
  .project__title {
    margin: 0;
  }
  .project__skills {
    margin: 0;
  }
  .project__description-title {
    margin: 0;
  }
  .project__description {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .project {
    margin: 1rem;
    max-width: 1920px;
  }
  .project__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
  }
  .project__video {
    max-width: 500px;
  }
  .project__text {
    max-width: 800px;
    padding-left: 2rem;
  }
  .project__title {
    margin: 0;
  }
  .project__skills {
    margin: 0;
  }
  .project__description-title {
    margin: 0;
  }
  .project__description {
    margin: 0;
  }
}

@media (min-width: 1600px) {
  .project {
    margin: 12rem;
    max-width: 1920px;
  }
  .project__content {
    display: flex;
    align-items: stretch;
    padding: 3rem;
  }
  .project__video {
    max-width: 550px;
    flex: 1;
    border: solid;
  }

  .project__text {
    padding-left: 2rem;
    flex: 1;
    border: solid;
  }
  .project__title {
    margin: 0;
  }
  .project__skills {
    margin: 0;
  }
  .project__description-title {
    margin: 0;
  }
  .project__description {
    margin: 0;
  }
  .project__links {
  }
}

/* TEMP */
.nav {
  display: none;
}
